@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Rubik&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Rubik&display=swap'); */


*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* height: 100vh; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}



.container{
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #adb5bd;
  /* flex-direction: column; */
}

.header{
  padding: 0.6rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.content-name{
  font-size: 1.2rem;
  font-weight: 600;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  padding: 0.4rem;
  position: relative;
}


.profile-img{
  border-radius: 50%;
  width: 90px;
}

.add-icon{
  display: inline-block;
  position: absolute;
  width: 8%;
  right: 38%;
  bottom: 0;
}


.down-side-name{
  text-align: center;
  padding: 0.4rem
}

.follower p{
  font-size: 0.7rem;
  color: #555;
  padding: 0.2rem;
}

.one-line{
  display: flex;
  justify-content: center;
}


.list-child{
  text-align: center;
  list-style: none;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0rem 1rem 0rem 1rem;

}


.dark{
  font-size: 1rem;
}

.font{
  font-size: 0.8rem;
  color:#a3a5a7;
}

.vertical-bar{
  border-left:1px solid gray;
  height: 1rem;
  margin-top: 0.8rem;
}


.short-heading-content{
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}


.all-img{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 0.4rem;
  row-gap: 0.2rem;
  padding: 1rem;
  padding-bottom: 0;
}

.images{
  width: 100%;
}


.inner-img{
  overflow: hidden;
}


.boutem-bar .bar-title,
.midil-bar .bar-title{
  list-style: none;
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0.5rem 0  0;
  width: 100%;
  justify-content: space-around;
  z-index: 4;
}

.boutem-bar.bar-title{
  position: fixed;
  bottom: 0;
  padding: 0;
}

.boutem-bar,
 .midil-bar{
  overflow: hidden;
}



@media only screen and (max-width:360px){

  .boutem-bar{
    position: sticky;
    bottom: 0;
  }
  .container{
    width: 100%;
  }

}

@media only screen and (max-width:414px){

  .boutem-bar{
    position: sticky;
    bottom: 0;
  }
  .boutem-bar .bar-title,
  .midil-bar .bar-title  {
    padding: 0.5rem 0 0 0;
  }

  .container{
    width: 100%;
  }
}


@media screen and (max-width:900px) and (min-width:481px){
  .boutem-bar{
    position: sticky;
    bottom: 0;
  }
  .container{
    width: 100%;
  }

}


@media screen and (max-width:1280px) and (min-width:481px){
   
  .boutem-bar{
    position: sticky;
    bottom: 0;
  }

  .boutem-bar .bar-title,
  .midil-bar .bar-title  {
    padding: 1rem 0 0 0;
  }

  .header{
    padding: 0.2rem;
  }
  .position-fix-midil{
    position: sticky;
    top: 0;
  }

  .dark{
    font-size: 1.3rem;
  }
  
  .font{
    font-size: 1rem;
    color:#a3a5a7;
  }
  
  .vertical-bar{
    border-left:1px solid gray;
    height: 1.3rem;
    margin-top: 0.8rem;
  }
  
  
  .short-heading-content{
    margin: 1rem;
    text-align: center;
    font-size: 1rem;
  }


.down-side-name{
  text-align: center;
  padding: 1rem
}
.container{
  width: 100%;
}

  
}


@media screen and (max-width:900px) and (min-width:481px){
  .boutem-bar{
    position: sticky;
    bottom: 0;
  }
  .container{
    width: 100%;
  }
}


@media screen and (max-width:812px) and (min-width:280px){
  .boutem-bar .bar-title,
  .midil-bar .bar-title  {
    padding: 1.6rem 0 1.6rem 0;
  }
  
  .container{
    width: 100%;
    border:none;
  }
}





