/* media quries make website responsiv */
/* 
Common screen sizes
Mobile: 360 x 640
Mobile: 375 x 667
Mobile: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tablet: 768 x 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080 */



/* 1344 px  smaller screen laptop */
/* @media (max-width:84em){
  .container{
    margin-bottom: auto;
  }

} */


/*/*landscape tablets screen 1200px */

/* @media(max-width:75em){

} */



/* for tablats */

/* @media(max-width:59em){

} */

/*below 704px smaller tablets */
/* 
@media(max-width:44em){

} */

/* using phone */
/* @media (max-width:32em){
  body{
    background-color: orangered;
  }
  .container{
    width: 300px;
    margin-top: 0;
  }
} */



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border: 1px solid #555;
  width: 20%;
  /* height: 10%; */

}

.header{
  display: flex;
  justify-content: space-between;
}


.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  padding: 0.4rem;
  position: relative;
  
}


.profile-img{
  border-radius: 50%;
  width: 90px;
}


.add-icon{
  display: inline-block;
  position: absolute;
  width: 8%;
  right: 38%;
  bottom: 0;
}


.follower:not(:nth-child(3)){
  border-right: 1px solid #333;
  height: 40px;
}



.follower p{
  font-size: 0.7rem;
  color: #555;
  padding: 0.2rem;
}


.followers,
.follower{
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.2rem 0rem 0.9rem;
}

.one-line{
  display: flex;
  justify-content: center;

}

.down-side-name{
  text-align: center;
  padding: 0.4rem
}

.short-heading-content{
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}

.boutem-bar .bar-title,
.midil-bar .bar-title{
  list-style: none;
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px 10px 10px 10px;
  width: 103%;
  margin: auto;
  justify-content: space-between;
}

/* 
@media screen (max-hight:) {
  
} */