
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Rubik&display=swap');


*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.container{
  border: 1px solid #adb5bd;
  width: 25rem;
  height: 51rem;
  background-color: #ffffff;
  flex-direction: column;
}


.container .header{
  
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px 10px;
  margin: 0.5rem;
  justify-content: space-between;
}


.content-name{
  font-size: 1.2rem;
  font-weight: 700;

}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  padding: 0.4rem;
  position: relative;
  
}

.profile-img{
  border-radius: 50%;
  width: 90px;
}

.add-icon{
  display: inline-block;
  position: absolute;
  width: 8%;
  right: 38%;
  bottom: 0;
}


.follower p{
  font-size: 0.7rem;
  color: #555;
  padding: 0.2rem;
}

.one-line{
  display: flex;
  justify-content: center;
}



.list-child{
  text-align: center;
  list-style: none;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0rem 1rem 0rem 1rem;

}

.dark{
  font-size: 1rem;
}
.font{
  font-size: 0.8rem;
  color:#a3a5a7;
}

.vertical-bar{
  border-left:1px solid gray;
  height: 1rem;
  margin-top: 0.8rem;
}


.down-side-name{
  text-align: center;
  padding: 0.4rem
}

.short-heading-content{
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}
.boutem-bar .bar-title,
.midil-bar .bar-title{
  list-style: none;
  background-color: #f7f7f7;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0.5rem 0  0;
  width: 103%;
  justify-content: space-around;
  z-index: 4;
}

.boutem-bar,
.midil-bar{
  overflow: hidden;
}


.all-img{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 0.4rem;
  row-gap: 0.2rem;
  padding: 1rem;
}

.position-fix{
  position: sticky !important;
  top: 0;
  bottom: 0;
}


.inner-img{
  overflow: hidden;
}



/* make responsive */


/* 540 */

@media (max-width:34em){

  .container{
    width: 430px;
    height: 100%;
  }
  .all-img{
    /* margin-left: 0.4rem; */
    max-width: 200%;
    grid-template-columns: repeat(2,1fr);
    column-gap:0.2px;
    row-gap: 0.2px;   
  }
  .images{
    width: 100%;
  }

  .position-fix{
    position: sticky !important;
    top: 0;
    bottom: 0;
  }
  
}


/* 1200 px */



@media (max-width:84em){

  .container{
    width: 430px;
    height: 100%;
    padding-left: 0;
  }
  .all-img{
    max-width: 200%;
    grid-template-columns: repeat(2,1fr);
    column-gap:0.4rem;
    row-gap: 0.2rem;   
  }
  .images{
    width: 100%;
  }

  .position-fix{
    position: sticky !important;
    top: 0;
    bottom: 0;
  }
}


/* 320px */


@media (max-width:24em){
  
  .container{
    margin: auto;
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .all-img{
    margin-left: 0;
    max-width: 200%;
    grid-template-columns: repeat(2,1fr);
    column-gap:0.4rem;
    row-gap: 0.2rem;   
  }
  .midil-bar,
  .boutem-bar{
    padding: 0;
    margin: 0;
  }
  .images{
    width: 100%;
  }
}



@media(max-width:54em){

  .container{
    width: 100%;

  }
  .all-img{
    grid-template-columns: repeat(4,1fr);
  }
  .images{
    width: 100%;
  }

  .boutem-bar .bar-title,
  .midil-bar .bar-title{
    padding: 0.4rem;
  } 
}



@media(max-width:64em){

  .container{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
  }
  .images{
    width: 100%;
  }
  .all-img{
    grid-template-columns: repeat(3,1fr);
  }
  .boutem-bar .bar-title,
  .midil-bar .bar-title{
    padding: 0.4rem;
  }

  .icon-img{
    width: 100%;
  }

  .bar-icon img{
    width: 100%;
  }

  .position-fix{
    position: sticky !important;
    top: 0;
    bottom: 0;
  }
  
}